@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppind",sans-serif;
}

body{
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
background-color:whitesmoke;
}

.profile-card{
    max-width: 370px;
    width: 100%;
    background-color:#fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 25px;
    padding: 26px;
   display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.profile-card::before{
    content: '';
    position: absolute;
    height: 38%;
    width: 360px;
    background-color : #4070f4 ;
    
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
background-color: rgb(37, 91, 239);
padding: 5px;
margin-bottom: 10px;
}

.image .profile-img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
color: #333;
}
.text-data .name{
    font-size: 24px;
    font-weight: 500;
}

.text-data .job{
    font-size: 24px;
    font-weight: 500;
}

.profile-card .media-button{
display: flex;
align-items: center;
margin-top: 15px;
}

.media-button .link{
    text-decoration: none;
    background-color: #4070f4;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #060505;
    font-size: 18px;
}

 .profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    padding: 8px 24px;
    background-color: #4070f4;
    margin: 0 10px;
    border-radius: 25px;
    border: none;
    color: rgb(16, 12, 12);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all o.3 ease;
}

.buttons .button:hover {
    background-color: rgb(238, 232, 232);
}


.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px ;
}

.analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid black;
    /* shadow */
}

.data i{
font-size: 18px;
margin-right: 6px;

}
.data:last-child{
    border-right: none;

}